* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: brown;
  display: flex;
  justify-content: center;
  align-items: center;
}

.memotest {
  display: flex;
  flex-wrap: wrap;
  order: unset;
  width: 1280px;
  height: 640px;
  perspective: 1000px;
}

.card {
  width: calc(25% - 10px);
  height: calc(50% - 10px);
  position: relative;
  margin: 5px;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card.flip {
  transform: rotateY(180deg);
}

.card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.front,
.back {
  width: 310px;
  height: 310px;
  position: absolute;
  border-radius: 5%;
  backface-visibility: hidden;
}

.front {
  transform: rotateY(180deg);
}
